<div class="pt-24">
    <div
        class="m-12 place-self-center p-24 rounded-full drop-shadow-2xl bg-gradient-to-br from-blue-900 via-cyan-900 via-violet-400 to-blue-400 animate-bounce">
        <div class="bg-white drop-shadow rounded-full w-36 h-36">
        </div>
    </div>
    <div class="flex justify-center items-center h-full">
        <span class="prose prose-xl text-gray-500">
            @Message
        </span>
    </div>
</div>

@code {
    [Parameter]
    public string Message { get; set; } = "Loading ...";
}