<div class=" prose prose-zinc prose-base p-4">
    <div class="flex items-center text-blue-900 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6 md:size-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z" />
        </svg>
        <span class="text-xl font-semibold md:text-base lg:text-xl">
            Data API builder
        </span>
    </div>
    <ul class="list-none pl-4 pt-4 space-y-2">
        <li class="flex items-center mx-1 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-5 md:size-4 flex-none">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
            </svg>
            <span class="flex-auto ml-6 md:text-sm lg:text-base">
                Dashboards
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-5 md:size-4 flex-none">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </li>
        <li class="flex items-center mx-1 py-2 bg-gray-300 pl-4 shadow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="size-5 md:size-4 flex-none">
                <path 
                    d="M1891 715q75 54 116 135t41 174q0 80-30 149t-82 122-123 83-149 30h-128v256q0 37-15 67t-40 54-54 42-61 32q-37 17-80 28t-87 19-90 10-85 4q-54 0-123-7t-138-26-126-49-93-80q-55 15-111 24t-113 10q-68 0-126-17t-102-53-67-89-25-127q0-82 28-163t64-154q-45-64-68-139T0 896q0-106 40-199t109-163 163-110 200-40q49 0 93 10 40-61 92-110t115-84 132-53 144-19q35 0 68 4t68 12q55-27 117-53t127-46 131-33 129-12q68 0 126 17t102 53 67 90 25 126q0 56-13 112t-36 112-50 107-58 98zm-505-504q116 72 187 182t88 247q29 0 58 4t57 13q24-37 49-82t47-95 34-98 14-95q0-46-15-76t-41-49-61-26-76-8q-42 0-86 7t-88 18-86 27-81 31zM512 512q-80 0-149 30t-122 82-83 123-30 149q0 80 30 149t82 122 122 83 150 30V896q0-37 15-67t40-54 54-42 61-32q37-16 80-28t88-19 89-10 85-4q40 0 84 3t90 11 88 19 80 28q30 14 60 32t55 42 39 54 16 67v61q43-45 82-91t78-96q-40-5-80-4t-80 2v-64q0-93-35-174t-96-142-142-96-175-36q-62 0-121 17t-110 48-93 76-71 100q-6 12-12 23t-12 24q-38-12-77-22t-80-10zm896 384q0-12-11-24t-26-22-30-19-25-12q-32-14-68-23t-75-16-77-9-72-3q-34 0-72 3t-76 9-76 15-68 24q-9 4-24 12t-31 18-26 23-11 24q0 12 11 24t26 22 30 19 25 12q31 14 68 23t75 16 77 9 72 3q34 0 72-3t76-9 75-15 69-24q9-4 24-12t31-18 26-23 11-24zM323 1664q48 0 95-9t94-22v-225q-90 0-173-30t-153-88q-23 51-40 105t-18 111q0 46 15 76t42 49 61 25 77 8zm1085 0v-594q-87 47-187 64t-197 18q-97 0-197-17t-187-65v594q0 12 11 24t26 22 30 19 25 12q31 14 68 23t75 16 76 9 73 3q34 0 72-3t77-9 75-15 68-24q9-4 24-12t31-18 26-23 11-24zm256-384q53 0 99-20t82-55 55-81 20-100q0-60-27-114t-75-90q-63 86-134 165t-148 154v141h128z" />
            </svg>
            <NavLink href="" class="not-prose no-underline font-normal ml-6 flex-none md:text-sm lg:text-base">
                Azure SQL
            </NavLink>
        </li>
        <li class="flex items-center mx-1 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-5 md:size-4 flex-none">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
            </svg>
            <a href="https://learn.microsoft.com/azure/data-api-builder/quickstart-azure-sql"
                class="not-prose no-underline font-normal ml-6 flex-none md:text-sm lg:text-base" target="_blank">
                Documentation
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="ml-1 size-2.5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
        </li>
    </ul>
</div>